$primary: #ffb900;
$family-primary: "Lato", serif;
@import "../../node_modules/bulma/bulma";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
.p-title{
    color: $primary !important;
}
html{
    background-color: #EAEEF2
}
.headingBlock{
    margin-bottom: 4.5rem
}
.light-blue-bg {
    background-color: #58b4ff;
  }
.navbar.is-transparent {
  background-color: transparent;
}
.navbar-menu .navbar-item{
    color: $grey;
    letter-spacing: 1.5px;
}
.navbar-menu .navbar-item{
    padding-right: 0px
}
.navbar-menu .navbar-item:last-child:after{content:'';padding:0;}
.navbar-menu .navbar-item:after{content:'\00B7';padding-left:0.75rem;}

.mainHero {
  .background-shapes {
    z-index: -15;
    position: absolute;
    width: 100%;

    .front-section {
      width: 860px;
      height: 768px;
      border-bottom-left-radius: 42px;
      background-color: $light;
      position: relative;
      right: -600px;
      top: -360px;
      box-shadow: 0 2px 49px 0 rgba(90, 22, 224, 0.27);
      transform: skew(20deg, -5deg);
    }
    .back-section {
      z-index: -2;
      width: 1440px;
      height: 200px;
      border-bottom-left-radius: 42px;
      position: relative;
      top: -525px;
      right: -850px;
      background-color: rgba(170, 145, 219, 0.2);
      transform: skew(20deg, -5deg);
    }
  }
}
.mainHero .is-background {
  position: absolute;
  width: 1440px;
  height: 1440px;
  right: -720px;
  top: -900px;
  z-index: -5;
}
.mainHero h2 > i {
  font-style: normal;
  color: $primary;
}

.featureBlock {
  text-align: center;

  p {
    text-align: justify;
    color: $text-light;
    font-size: 0.9rem;
  }
  h3 {
    //later
  }
  figure {
    display: block;
    margin: 0 auto;
  }
}

.pricingSection{
    text-align: center;

    .priceBlock{
        background-color: $light;
        padding: 2.5rem;
        box-shadow: 0 2px 12px 0 rgba(90, 22, 224, 0.27);
        border-radius: 6px;

        footer{
            margin-top: 2.5rem;
        }
        .subtitle{
            color: $grey
        }
        .media + .media {
            padding-top: 0px;
            border-top: 0px;
        }
        .media-left{
            color: $primary
        }
        figure {
            display: block;
            margin: 0 auto;
            
          }
    }
    
}