{% extends "mainLayout.njk" %} {% block content %}
<section class="hero is-fullheight mainHero">
  <div class="hero-head">
  {% include "partials/navbar.njk" %}
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
      <div class="column is-5">
          <img src="assets/img/illustrations/gym-centre.svg">
        </div>
        <div class="column is-5 is-offset-1">
        <h1 class="title is-3 p-title">Galaxy CRM</h1>
          <p class="subtitle is-5">
            Let us take all the hard work while you focus on making your fitness centre better.
          </p>
          <p style="color: rgba(0,0,0,0.60)">Galaxy CRM is a tool created to help enterprise and upcoming fitness centres to grow themseleves by creating a platform to help them mature and grow.</p>
          <br>
          
          
          <a class="button is-rounded is-medium is-light" href="#features">Features &nbsp; <span class="icon"><i class="fa fa-angle-right"></i></span></a>
          &nbsp; &nbsp; 
          <a class="button is-rounded is-medium is-primary is-outlined">Get free demo</a>
        </div>
        
      </div>
    </div>
  
  </div>
  </section>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-4">
          <h2 class="title is-4">CRM Dashboard</h2>
          <p class="subtitle is-6">
                An all integrated dashboard to help all your needs
              </p>
              <p style="color: rgba(0,0,0,0.60)">Galaxy CRM is a tool created to help enterprise and upcoming fitness centres to grow themseleves by creating a platform to help them mature and grow.</p>
          </div>
          <div class="column is-offset-1 is-5">
              <img src="assets/img/illustrations/desktop-iphone.svg">
          </div>
        </div>
        <br style="margin-bottom: 5rem;">
        <div class="columns is-centered">
        <div class="column is-5">
              <img src="assets/img/screens/create-plan.png">
          </div>
          <div class="column is-offset-1 is-4">
          <h2 class="title is-4">Plan Management</h2>
          <p class="subtitle is-6">
                An all integrated dashboard to help all your needs
              </p>
              <p style="color: rgba(0,0,0,0.60)">Galaxy CRM is a tool created to help enterprise and upcoming fitness centres to grow themseleves by creating a platform to help them mature and grow.</p>
          </div>
        </div>
        <br style="margin-bottom: 5rem;">
        <div class="columns is-centered">
          <div class="column is-4">
          <h2 class="title is-4">Membership Management</h2>
          <p class="subtitle is-6">
                An all integrated dashboard to help all your needs
              </p>
              <p style="color: rgba(0,0,0,0.60)">Galaxy CRM is a tool created to help enterprise and upcoming fitness centres to grow themseleves by creating a platform to help them mature and grow.</p>
          </div>
          <div class="column is-offset-1 is-5">
              <img src="assets/img/screens/membership.png">
            </div>
        </div>
      </div>
    </div>
  </section>
<section id="features" class="hero is-medium is-light featuresSection">
  <div class="hero-body">
    <div class="container">
      <div class="headingBlock has-text-centered">
        <h2 class="p-title title is-2">Why GalaxyCRM?</h2>
      </div>
      <div class="columns is-multiline is-centered">
        <div class="column is-3 featureBlock has-text-centered">
          
          <figure class="image is-128x128">
            <img src="assets/img/illustrations/easy.svg" />
          </figure>
<h3 class="title is-5">Easy to use</h3>
          <p class="has-text-centered">Get started with no prior experience of using any CRM software.</p>
        </div>
        <div class="column is-3 featureBlock has-text-centered">
          

          <figure class="image is-128x128">
            <img src="assets/img/illustrations/grow-business.svg" />
          </figure>
<h3 class="title is-5">Grow business</h3>
          <p class="has-text-centered">Focus on other things, we got your management.</p>
        </div>
        <div class="column is-3 featureBlock has-text-centered">
          
          <figure class="image is-128x128">
            <img src="assets/img/illustrations/support.svg" />
          </figure>
<h3 class="title is-5">24/7 support</h3>
          <p class="has-text-centered">Forget the old days of managing your customers using ledgers and books.</p>
        </div>
        <div class="column is-3 featureBlock has-text-centered">
          
          <figure class="image is-128x128">
            <img src="assets/img/illustrations/secure-data.svg" />
          </figure>
<h3 class="title is-5">Secure Data</h3>
          <p class="has-text-centered">Your data won't fall into wrong hand.</p>
        </div>
        <div class="column is-3 featureBlock has-text-centered">
          
          <figure class="image is-128x128">
            <img src="assets/img/illustrations/secure-server.svg" />
          </figure>
<h3 class="title is-5">Cloud Based servers</h3>
          <p class="has-text-centered">Forget the old days of managing your customers using ledgers and books.</p>
        </div>
        <div class="column is-3 featureBlock has-text-centered">
         
          <figure class="image is-128x128">
            <img src="assets/img/illustrations/manage-users.svg" />
          </figure>
           <h3 class="title is-5">Manage Gyms</h3>
          <p class="has-text-centered">Forget the old days of managing your customers using ledgers and books.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium pricingSection">
  <div class="hero-body">
    <div class="container">
      <div class="headingBlock has-text-centered">
        <h2 class="p-title title is-2">Pricing</h2>
      </div>
      <div class="columns is-centered">
        <div class="column is-4">
          <div class="priceBlock">
          <figure class="image is-128x128">
            <img src="assets/img/illustrations/yoga.svg" />
          </figure>

          <h5 class="title is-3 p-title">Galaxy Free</h5>
          <p class="subtitle is-6">small business</p>

          <article class="media">
            <span class="media-left">
              <i class="fa fa-check"></i>
            </span>
            <div class="media-content">NearFit Passes</div>
          </article>
          <article class="media">
            <span class="media-left">
              <i class="fa fa-check"></i>
            </span>
            <div class="media-content">Analytical Dashboard</div>
          </article>
          <article class="media">
            <span class="media-left">
              <i class="fa fa-check"></i>
            </span>
            <div class="media-content">Manage your Fitness Centre's appearance and details</div>
          </article>

          <footer>
            <a class="button is-primary is-rounded is-medium">Rs. 0.00 p/m</a>
          </footer>
          </div>

        </div>

        <div class="column is-4 is-offset-1">
        <div class="priceBlock">
          <figure class="image is-128x128">
            <img src="assets/img/illustrations/gym-centre.svg" />
          </figure>

          <h5 class="title is-3 p-title">Galaxy Pro</h5>
          <p class="subtitle is-6">medium to large business</p>

          <article class="media">
            <span class="media-left">
              <i class="fa fa-check"></i>
            </span>
            <div class="media-content">Manage customers</div>
          </article>
          <article class="media">
            <span class="media-left">
              <i class="fa fa-check"></i>
            </span>
            <div class="media-content">Lead Creation with SMS Remainder</div>
          </article>
          <article class="media">
            <span class="media-left">
              <i class="fa fa-check"></i>
            </span>
            <div class="media-content">Manage Employees</div>
          </article>
          <article class="media">
            <span class="media-left">
              <i class="fa fa-check"></i>
            </span>
            <div class="media-content">Verified Tag</div>
          </article>
          <article class="media">
            <span class="media-left">
              <i class="fa fa-check"></i>
            </span>
            <div class="media-content">Priority Support</div>
          </article>
          <footer>
            <a class="button is-primary is-rounded is-medium">Rs. 2499 p/m</a>
          </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br> {% endblock %}