{% extends "mainLayout.njk" %}

{% block content %}
<section class="hero is-fullheight mainHero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
      <h2 class="subtitle is-3">
        Let <i>Galaxy CRM</i> take the hard work while you focus on making your fitness centre better.
      </h2>
      <a class="button is-large is-primary">Get a free demo</a></div>
        <div class="column is-5 is-offset-2"><img src="/assets/img/demo1.png" style="transform: rotateZ(-5deg);"></div>
      </div>
    </div>
  </div>
<div class="background-shapes">
  <div class="front-section"></div>
  <div class="back-section"></div>
</div>
</section>
<div class="columns">
        <div class="column is-4 is-offset-1 featureBlock">
          <h3 class="is-title">Simple alternative to paper and pen management</h3>
          <br>
          <p>Forget the old days of managing your customers using ledgers and books. Use our CRM to manage and track your users easily.</p>
        </div>
       <div class="column is-4 is-offset-1 featureBlock">
          <h3 class="is-title">Simple alternative to paper and pen management</h3>
          <br>
          <p>Forget the old days of managing your customers using ledgers and books. Use our CRM to manage and track your users easily.</p>
        </div>
      </div>
{% endblock %}

