<footer class="footer" id="footer">
    <div class="columns is-centered">
        <div class="column is-2">
            <div class="title is-6">Partners</div>
            <div class="columns is-mobile is-multiline">
                <div class="column is-6">
                    <figure class="image is-64x64">
                        <img title="Prestigious 36inc as incubating Partner" src="https://www.nearfit.in/static/images/36_Inc.png " />
                    </figure>
                </div>

                <div class="column is-6">
                    <figure class="image is-64x64">
                        <img src="https://msg91.com/images/startups/msg91Badge.png" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91" />
                    </figure>
                </div>
                <div class="column is-6">

                    <a href="https://techflexa.com">
                        <figure class="image is-64x64">
                            <img src="https://avatars0.githubusercontent.com/u/37340349?s=400&amp;u=cbccef6b7834af5e01eae0dd8a1dd81f62ee3584&v=4" title="TechFlexa - IT Services"
                                alt="TechFlexa - IT Services" />
                        </figure>
                    </a>

                </div>
                <div class="column is-6">
                    <figure class="image is-64x64">
                        <img title="India 's most vibrant Mobile App Development community" src="https://www.mobile10x.in/theme/bs/images/logo.png?ts=1514897626"
                        />
                    </figure>
                </div>
            </div>
        </div>
        <div class="column is-2 is-offset-1">
            <div class="title is-6">Links</div>
            <div>
                <a href="#home">Home</a>
            </div>
            <div>
                <a href="#features">Features</a>
            </div>
            <div>
                <a href="#pricing">Pricing</a>
            </div>
        </div>
        <div class="column is-2">
            <div class="title is-6">About</div>
            <div>
                <a href="#privacy">Privacy Policy</a>
            </div>
            <div>
                <a href="#tnc">Terms and Conditions</a>
            </div>
            <div>
                <a href="#support">Support</a>
            </div>
        </div>
        <div class="column is-2">
            <div class="title is-6">Get in touch</div>
            <div class="fItem">
                <span class="icon">
                    <i class="fa fa-envelope"></i>
                </span> office@nearfit.in
            </div>
            <div class="fItem">
                <span class="icon">
                    <i class="fa fa-phone"></i>
                </span> +91 7001972016
            </div>
        </div>
    </div>
    <p class="title is-6 has-text-centered">&#169; Nex Fitzap Private Limited</p>
</footer>