<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-1">
                    <div class="title is-6">Partners</div>
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <img height="60" width="60" title="Prestigious 36inc as incubating Partner" src="https://www.nearfit.in/static/images/36_Inc.png "
                            />
                        </div>
                        <div class="column is-12">
                            <img title="India 's most vibrant Mobile App Development community" src="https://www.mobile10x.in/theme/bs/images/logo.png?ts=1514897626"
                            />
                        </div>
                        <div class="column is-12">
                            <img height="60" width="60" src="https://msg91.com/images/startups/msg91Badge.png" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91"
                            />
                        </div>
                    </div>
                </div>
                <div class="column is-2 is-offset-1">
                    <div>
                        <a href="#home">Home</a>
                    </div>
                    <div>
                        <a href="#features">Features</a>
                    </div>
                    <div>
                        <a href="#pricing">Pricing</a>
                    </div>
                </div>
                <div class="column is-2">
                    <div>
                        <a href="#privacy">Privacy Policy</a>
                    </div>
                    <div>
                        <a href="#tnc">Terms and Conditions</a>
                    </div>
                    <div>
                        <a href="#support">Support</a>
                    </div>
                </div>
                <div class="column is-offset-2">
                    <div>
                        office@nearfit.in
                    </div>
                    <div>
                        +91 8888485317
                    </div>
                </div>
            </div>
            <div class="title is-6 has-text-centered">&#169; Nex Fitzap Private Limited</div>
        </div>
    </div>
</section>