<nav class="navbar is-transparent">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.nearfit.in">
      <img src="/assets/img/logo.png" alt="NearFit"/>
    </a>
    <div class="navbar-burger burger" data-target="navbarTransparent">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarTransparent" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://www.nearfit.in/gyms/dashboard">
        Login
      </a>
      <a class="navbar-item" href="#pricing">
        Pricing
      </a>
      <a class="navbar-item" href="#pricing">
        Contact Us
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-outlined" href="#features">
              <span class="icon">
                <i class="fa fa-bolt"></i>
              </span>
              <span>
                Features
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-primary" href="https://www.nearfit.in/gyms/dashboard">
              <span class="icon">
                <i class="fa fa-laptop"></i>
              </span>
              <span>Free Demo</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>